#title
  %h1 Answer!
%div= h parent_object.body
#form
  -form_for object, :url => admin_question_answer_url do |f|
    %div= f.text_area :body
    .button= f.submit 'Answer'

#errors= error_messages_for :object